[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
nose-testconfig = "*"
docutils = "*"
pygments = "*"
tox-pipenv = "*"
tox = "==3.7.0"
v = {editable = true,version = "*"}
coverage = "*"
requests-mock = "*"

[packages]
zope-interface = "*"
zeep = "*"
requests = "*"
requests-kerberos = "*"
six = "*"
lxml = "*"
olap = "*"
#[requires]
#python_version = "3.7"
